.pagination {
  display: flex;
  justify-content: center;
  li {
    margin-right: 2rem;
    &.selected {
      a {
        font-weight: 700;
        color: #00c855;
      }
    }
  }
  a {
    color: #000;
  }
}
